.table{
    display: inline-block;
    font-size: 5rem;
    margin-left: 20px;
   
}
table,td,th{
    border:2px solid black ;
    border-collapse: collapse;
    border-spacing: 3px;
}
td,th{
    padding: 1rem;
    text-align: center;
    
}
th{
    background-color: rebeccapurple;
}
.btn1{
    margin-top: 2rem;
    display: flex;
   max-width: 70%; 
   position: relative;
   left: 2rem;
  
    justify-content: space-between;
}
.btn{
   width: 40%;
}
